.footer {
    background-color: $color-grey-dark-3;
    font-size: 1.5rem;
    padding: 10rem 0;

    @include respond(tab-port) {
        padding: 6rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        height: 15rem;
    }

    &__navigation {
        margin-bottom: 6rem;
        border-top: 1px solid $color-grey-dark-2;
        padding-top: 2rem;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:visited,
        &:link {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-grey-light-2;
            transition: all .3s ease;
            display: inline-block;
        }

        &:hover,
        &:active {
            color: $color-primary;
            transform: scale(1.2) rotate(4deg);
            box-shadow: 0 1.4rem 2rem rgba($color-black, .4);
        }

    }

    &__copyright {
        float: right;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

}